/* Estilos base */
body {
    font-family: 'Arial', sans-serif;
    font-size: 10px; /* Tamaño base de fuente */
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.h3 {
    font-size: 1.2em; /* Tamaño ligeramente más grande que el base para el encabezado */
    margin-bottom: 5px;
}

.page-bottom {
    margin-bottom: 5px;
}

/* Recuadros */
.panel, #picture_legend, .navbar {
    border: 1px solid #d1d1d1;
    padding: 5px; 
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlighted-link {
    background-color: #763B6F;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.highlighted-link:hover {
    background-color: #61305C;
}

/* Interacción para el formulario de inicio de sesión */
.user_login_form label {
    display: block;
    margin-bottom: 3px;
}

.user_login_form input.post {
    padding: 3px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 200px; /* Ancho fijo para los campos de entrada */
    display: block; /* Para que los campos se muestren uno debajo del otro */
    margin: 0 auto; /* Para centrarlos horizontalmente */
}

.user_login_form input.mainoption.button1 {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 5px auto; /* Centrar el botón horizontalmente */
}

.user_login_form input.mainoption.button1:hover {
    background-color: #0056b3;
}

/* Estilos para la leyenda de imágenes */
#picture_legend li {
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
}

/* Estilos para el footer */
#page-footer {
    padding: 5px 0;
    background-color: fuchsia;
    color: #ffffff;
    text-align: center; /* Centrar todo el contenido del footer */
}

#page-footer .navbar {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

#page-footer .linklist {
    padding-left: 0;
    display: inline-block; /* Alinear elementos en línea */
}

#page-footer .linklist li {
    list-style-type: none;
    display: inline-block; /* Para que los elementos se muestren en línea */
}

#page-footer .linklist a {
    color: #ffffff;
    transition: color 0.3s ease;
}

#page-footer .linklist a:hover {
    color: #dddddd;
}

.cuadro-inf {
    display:block;  
    color: #61305C;
}

#parrf {
    color: #61305C;
}

.footer-section {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer form {
    margin: 3px 0;
}

footer form input[type="text"], 
footer form input[type="password"] {
    margin-right: 3px;
    padding: 3px 7px;
}

footer form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer form input[type="submit"]:hover {
    background-color: #2980b9;
}

.footer-section.linklist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: none;
}
