
/* Estilos base */
body, html {
    font-family: 'Arial', sans-serif;
    height: 100%; /* Esto es para el sticky footer */
    margin: 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    border-bottom: 2px solid black; /* Línea debajo del texto */
}

.page-bottom {
    margin-bottom: 15px;
    font-size: 14px; /* Disminución correlativa */
}

/* Recuadros */
.panel, #picture_legend, .navbar {
    border: 1px solid #d1d1d1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlighted-link {
    background-color: #763B6F;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.highlighted-link:hover {
    background-color: #61305C;
}

/* Interacción para el formulario de inicio de sesión */
.user_login_form label {
    display: block;
    margin-bottom: 10px;
}

.user_login_form input.post {
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 100%;
}

.user_login_form input.mainoption.button1 {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user_login_form input.mainoption.button1:hover {
    background-color: #0056b3;
}

/* Estilos para la leyenda de imágenes */
#picture_legend li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;
}

/* Estilos para el footer */
#page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: fuchsia;
    color: #ffffff;
}

#page-footer .navbar {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

#page-footer .linklist {
    padding-left: 0;
}

#page-footer .linklist li {
    list-style-type: none;
}

#page-footer .linklist a {
    color: #ffffff;
    transition: color 0.3s ease;
}

#page-footer .linklist a:hover {
    color: #dddddd;
}

.cuadro-inf {
    display:block;  
    color: #61305C;
    font-size: 10px; /* Disminución correlativa */
}

#parrf {
    color: #61305C;
    font-size: 16px;
}

.footer-section {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer form {
    margin: 10px 0;
}

footer form input[type="text"], 
footer form input[type="password"] {
    margin-right: 10px;
    padding: 5px 10px;
}

footer form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer form input[type="submit"]:hover {
    background-color: #2980b9;
}

.footer-section.linklist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: none;
}
